{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<head>
  <title>Update Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/edit.js' %}"></script>
</head>


    <div class="header">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!--/.navbar-header-->
                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
        <!--/.container-->
    </div>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{user.first_name}}</h1></div>

    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src={{up.img.url}} class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload Photo</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Edit</a></li>
              </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                  <form class="form" method="POST"  action="/SIGNUP_LOGIN/update/{{user.pk}}" id="registrationForm">
                      {% csrf_token %}
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name"  title="enter your first name if any." value="{{user.first_name}}">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" title="enter your last name if any."value="{{user.last_name}}">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">

                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email."value="{{up.email}}">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone Number</h4></label>
                              <input type="text" class="form-control" name="phone_Number" id="phone_Number" placeholder="Enter phone Number" title="enter your phone number if any."value="{{up.phone}}">
                          </div>
                      </div>



                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="location"><h4>Location</h4></label>
                              <input type="text" class="form-control" name="location" id="location" placeholder="Location" title="enter your Location"value="{{up.country}}">
                          </div>
                      </div>



                       <div class="form-group">

                          <div class="col-xs-6">
                            <label for="location"><h4>Birthday</h4></label>
                              <input type="text" class="form-control" name="Birthday" id="birthdaye" placeholder="Birthday" title="enter your birthday"value="{{up.birthday}}">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="location"><h4>Occupation</h4></label>
                              <input type="text" class="form-control" name="occupation" id="occupation" placeholder="Occupation" title="enter your occupation"value="{{up.occupation}}">
                          </div>
                      </div>



                      <div class="form-group">

                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" value ="Update"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>

              <hr>

             </div><!--/tab-pane-->

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->
